.post{
  background-color:  #fff;
  margin-bottom:  10px;
} 
.post_header {
text-align: left;
padding: 5px 10px;
font-size: 12px;
}
.post_header>img {
  width: 30px;
  height: 30px;
}
 
.post_header > div {
display: inline-block;
vertical-align: top;
margin-left: 10px;
}
.post_body {
padding-top:10px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.post_body_imgs > img {
max-width: 100%;
margin-bottom: 5px;
}
.post_body_text {
padding: 5px 10px;
text-align: justify;
}
.post_footer {
height: 20px;
font-size: 14px;
padding: 5px;
}
.post_footer > .lf {
}
.post_footer > .rf {
}
.rf > a {
display: inline-block;
width: 30px;
height: 20px;
background-image: url(../../assets/icon/love.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
a.send {
background-image: url(../../assets/icon/send.png);
}
a.relay {
background-image: url(../../assets/icon/relay.png);
}