

html,
body {
  height: 100%;
}
body {
  font-family: 'microsoft yahei', Arial, Helvetica, sans-serif;
  color: #666;
  margin: 0px;
  padding: 0px;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}

#app {
    height:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .lf{
    float:left;
  }
  .rf{
    float: right;
  }
  .clear{
    clear: both;
  }
