.my-info{
    height:40vh;
    background-color: #f90;
   
}
.info-top{
   position: relative; 
   border-bottom:2px soild #fff;
   background-color: #09f;
   height:30vh;    
}
.top-bar{
    height:5vh;
    display: flex;
    justify-content:flex-end;
    background-color: blueviolet;
}
.top-bar>a{
    display: inline-flex;
    height:5vh;
    width: 5vh;
    background-color: #fff;
}
.info-top>.avatar{
    position: absolute;
    bottom:-4vw;
    left:42vw;
    width:16vw;
    height: 16vw;
    background-color: #fff;
}

.user-name{
    margin-top:4vw;
    font-size: 4vh;
    text-align: center;
}
.my-tabs{
    display: flex;
    justify-content: space-between;
    background-color: #66f;
    height:6vh;
}
.my-tabs>li{
    flex-grow:1;
    text-align: center;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items:center;
}
.my-tabs>li.active {
    background-color: #fff;
}
.contact-list{
    background-color: #fff;
}
.contact{
   padding-left: 4vw;
   height:10vh;
   width: 100vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   /* background-color: #1abc9c; */
}
.contact>.contact-avatar{
    height:10vw;
    width:10vw;
   background-color: #f1c40f;
}
.detail{
    flex-grow: 1;
    height:100%;
    padding-right:4vw;
    margin-left:2vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #bdc3c7;
}
.message{
   width:72vw; 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color:#fff ;
}
.message>.contact-name{
    color:#666;
    font-size:3vh;
}
.message>.contact-text{
    color:#7f8c8d;
}
.contact-icon{
    height:8vw;
    width:8vw; 
    background-color: #c0392b;
}






